@use "@styles/global.scss" as *;

.form {
  width: 40%;

  display: grid;
  gap: 1rem;

  place-items: center;

  .title {
    color: $main;
    font-size: clamp(5vw, 3.2rem, 4.2rem);
    white-space: nowrap;
  }

  .switchLabel {
    width: 100%;

    display: flex;
    gap: 0.4rem;

    align-items: center;
    justify-content: start;

    font-weight: 700;
  }
}

@media (max-width: 612px) {
  .form {
    width: 100%;
  }
}
