@use "../../styles/global.scss" as *;

.root {
  border: 2px solid $main;
  border-radius: $rounded-sm;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: text;
  transition: background 300ms;

  &:focus-within {
    color: $background;
    background: rgba($main, 0.4);
  }
}

.input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-weight: 600;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.8);
  }
}

.error {
  border-color: $red;
  background: rgba($red, 0.6);
}

.errorMessage {
  color: $red;
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
}
