@use "@styles/global.scss" as *;

.default {
  display: flex;
  gap: 0.8rem;

  align-items: center;
  justify-content: center;

  color: $white;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;

  border-radius: $rounded-sm;

  transition: all 350ms ease;

  cursor: pointer;
}

.small {
  padding: 0.4rem 1.2rem;
}

.medium {
  padding: 0.8rem 2.8rem;
}

.large {
  padding: 1.2rem 5.2rem;
}

.none {
  padding: 0;
}

.fullscreen {
  width: 100%;
}

.primary {
  color: $white;

  background: $main;

  &:hover {
    background: rgba($main, 0.6);
  }

  &:disabled {
    background: rgba($main, 0.4);

    cursor: not-allowed;
  }
}

.outline {
  color: $main;

  border: 1px solid $main;

  background: inherit;

  &:hover {
    border: 1px solid rgba(#3e5c76, 0.6);
  }

  &:disabled {
    border: 1px solid rgba(#3e5c76, 0.4);

    cursor: not-allowed;
  }
}

.ghost {
  border: 0;

  background: inherit;

  &:hover {
    background: rgba(#fce7f3, 0.2);
  }

  &:disabled {
    background: rgba(#3e5c76, 0.4);

    cursor: not-allowed;
  }
}

.rounded {
  padding: 1rem;

  border-radius: 50%;
}
