@use "@styles/global.scss" as *;
@use "@styles/breakpoints.scss" as *;

.wrapper {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 4rem;
  overflow: hidden;

  .title {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
  }

  .subtitle {
    font-size: 2.4rem;
    text-align: center;
    color: $grey;
  }

  .img {
    width: 50%;
    display: none;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  .content {
    display: grid;
    place-items: center;
    width: 100%;
  }
}

@include from905 {
  .wrapper {
    .img {
      display: block;
    }

    .content {
      width: 50%;
    }
  }
}
