@use "@styles/global.scss" as *;

.title {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}

.subtitle,
a {
  font-size: 2.4rem;
  text-align: center;
  color: $grey;
}

.picture {
  position: relative;
  cursor: pointer;
  background: $white;
  border-radius: $rounded-sm;
  display: grid;
  place-items: center;
  border: 2px dashed $background;
  width: 100%;
  min-height: 100%;
  padding: 4rem;
  color: $background;

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .dropInfo {
    cursor: grab;
    font-size: 1.2rem;
  }

  .imagePlaceholder {
    z-index: 9;
    font-size: 16rem;
    padding: 1rem;
    background: $main;
    border: 2px solid $background;
    border-radius: $rounded-full;
  }

  .image {
    max-width: 50%;
    border: 2px solid $main;
    background: $main;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: $rounded-full;
  }
}

.hidden {
  display: none;
}
