@use "@styles/global.scss" as *;

.wrapper {
  min-width: 42rem;
  max-width: 42rem;

  display: flex;
  gap: 0.4rem;

  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border: 1px solid $main;

  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 9999;

  background: $main;
  border-radius: $rounded-sm;

  p {
    font-size: 1.8rem;
  }

  .errorWrapper {
    display: flex;

    align-items: center;

    .icon {
      font-size: 3rem;

      margin-right: 0.6rem;
      padding: 0.2rem;

      border-radius: $rounded-sm;
    }
  }
}

.info {
  border: 1px solid $background;

  background: $main;

  .icon {
    background: $background;
  }
}

.success {
  border: 1px solid $green;

  background: $green-bg;

  .icon {
    background: $green;
  }
}

.warning {
  border: 1px solid $yellow;

  background: $yellow-bg;

  .icon {
    background: $yellow;
  }
}

.error {
  border: 1px solid $red;

  background: $red-bg;

  .icon {
    background: $red;
  }
}
