$mainFont: "Roboto", Arial, sans-serif;

$background: #0d1321;
$main: #3e5c76;
$white: #e2e8f0;

$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;
$rounded-xl: 24px;

$shadow-sm: 0px 10px 15px 0px rgba(211, 192, 214, 0.4);
$shadow-md: 0px 8px 16px 0px rgba(62, 19, 77, 0.6);
$shadow-lg: 0px 8px 30px 0px rgba(62, 19, 77, 0.6);
$shadow-xl: 0px 8px 30px 0px rgba(62, 19, 77, 0.9);
