@use "../../../../styles/global.scss" as *;

.form {
  display: grid;
  width: 40%;
  place-items: center;
  gap: 1rem;

  .title {
    color: $main;
    font-size: clamp(5vw, 3.2rem, 4.2rem);
    white-space: nowrap;
  }

  .switchLabel {
    width: 100%;
    gap: 0.4rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

@media (max-width: 612px) {
  .form {
    width: 100%;
  }
}
